---
import Layout from "../layouts/Layout.astro";
const spotifyAccessToken = Astro.cookies.get("spotify_access_token");
console.log(spotifyAccessToken);
if (!spotifyAccessToken) {
  return Astro.redirect("/?error=token_missing");
}

const result = await fetch("https://api.spotify.com/v1/me", {
  method: "GET",
  headers: { Authorization: `Bearer ${spotifyAccessToken.value}` },
});

// TODO implement better error handling with feedback
if (!result.ok) {
  return Astro.redirect("/?error=not_authorized");
}

const userData = await result.json();
---

<Layout title="User Info Test">
  <h1>User Info Test</h1>
  <p>User Data: {JSON.stringify(userData)}</p>
</Layout>
