---
import type { Page, Playlist } from "@spotify/web-api-ts-sdk";
import Layout from "./Layout.astro";
import NewTagButton from "../components/NewTagButton.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;

const spotifyAccessToken = Astro.cookies.get("spotify_access_token");
if (!spotifyAccessToken) {
  return Astro.redirect("/?error=token_missing");
}

// TODO this is paginated with an offset. get all playlists instead of just the first 20
const result = await fetch("https://api.spotify.com/v1/me/playlists", {
  method: "GET",
  headers: { Authorization: `Bearer ${spotifyAccessToken.value}` },
});

// TODO implement better error handling with feedback
if (!result.ok) {
  return Astro.redirect("/?error=not_authorized");
}

const playlists: Page<Playlist> = await result.json();
---

<Layout title={title}>
  <div id="wrapper">
    <section id="playlist-nav">
      <details>
        <summary>json dump</summary>
        <pre>User Data: {JSON.stringify(playlists, null, 2)}</pre>
      </details>

      <p><NewTagButton /></p>

      <small>compositions</small>
      <div id="compositions-list"></div>

      <small>tags</small>
      <div id="tags-list"></div>

      <small>playlists</small>
      {
        playlists.items.map((playlist) => (
          <li>
            <a href={"/playlist/" + playlist.id}>{playlist.name}</a>
          </li>
        ))
      }
    </section>
    <main>
      <slot />
    </main>
  </div>
</Layout>

<style>
  #wrapper {
    display: flex;
    flex-direction: row;
  }
  #playlist-nav {
    background-color: #000;
    margin-right: 1rem;
  }
  #tags-list {
    display: flex;
    flex-direction: column;
  }
</style>

<script>
  import { getCompositionList } from "../common-client/compositionsManagement";
  import { getTagList } from "../common-client/tagManagement";

  const tagsListWrapper = document.getElementById("tags-list")!;
  const tags = getTagList();

  tags.forEach((tag) => {
    const tagEl = document.createElement("a") as HTMLAnchorElement;
    tagEl.href = "/tag/" + tag.id;
    tagEl.innerHTML = tag.name;
    tagsListWrapper.appendChild(tagEl);
  });

  const compositionsListWrapper = document.getElementById("compositions-list")!;
  const compositions = getCompositionList();

  compositions.forEach((tag) => {
    const tagEl = document.createElement("a") as HTMLAnchorElement;
    tagEl.href = "/composition/" + tag.id;
    tagEl.innerHTML = tag.name;
    compositionsListWrapper.appendChild(tagEl);
  });
</script>
