---
import BaseLayout from './BaseLayout.astro'
import Library from '../components/Library'

interface Props {
  title: string;
}

const { title } = Astro.props;
const navLinks = [
  { href: '/home', text: 'Home' },
  { href: '/user-info-test', text: 'user json dump' },
  { href: '/playlist-tagging-test', text: 'tagging test' },
];

const url = new URL(Astro.request.url);
---
<BaseLayout title={title}>
  <!-- <nav class="mb-4">
    <a class="bg-indigo-500 text-white no-underline px-4 py-2 mr-4" href="/">home</a>
    <a class="bg-indigo-500 text-white no-underline px-4 py-2 mr-4" href="/user-info-test">user json dump</a>
    <a class="bg-indigo-500 text-white no-underline px-4 py-2 mr-4" href="/playlist-tagging-test">tagging test</a>
  </nav>
  <slot /> -->
  <div class="p-2 bg-zinc-950 h-full flex flex-row gap-2">
    <aside class="w-72 flex flex-col gap-2">
      <nav class="p-4 bg-zinc-900 rounded-lg">
        <ul>
          {navLinks.map(navLink => (
            <li class="text-lg transition-colors duration-150 ease-in-out active:text-white hover:text-white" class:list={[url.pathname == navLink.href ? "text-white" : "text-gray-400"]}>
              <a href={navLink.href}>{navLink.text}</a>
            </li>
          ))}
        </ul>
      </nav>
      <div class="p-4 flex-grow bg-zinc-900 rounded-lg">
        <Library />
      </div>
    </aside>
    <slot />
  </div>
</BaseLayout>